################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.suo
*.csproj.user
/.vs
/ToDoListMaterialDesign.Core/bin
/ToDoListMaterialDesign.Core/obj
/ToDoListMaterialDesign.EntityFramework/bin
/ToDoListMaterialDesign.EntityFramework/obj
/ToDoListMaterialDesign.Wpf/bin
/ToDoListMaterialDesign.Wpf/obj
/ToDoListMaterialDesign.CoreTest/bin
/ToDoListMaterialDesign.CoreTest/obj
/ToDoListMaterialDesign.WpfTest/bin
/ToDoListMaterialDesign.WpfTest/obj
